.form-container {
  display: grid;
  place-items: center;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* display: grid; */
  /* grid-template-columns: 1fr 2fr; */
  /* grid-gap: 0.5em; */
}

input {
  padding: 0.5em 0.2em;
  margin: 0 1ch;
  height: 3em;
  border-radius: 3px;
  border: 1px solid var(--accent-light);
  color: white;
  background-color: inherit;
  transition: all 250ms linear;
  outline: none;
  color: var(--accent-light);
}

/* Removing spinbox */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 15ch;
}

input[type=number]:focus {
  background-color: var(--background);
}

input:disabled {
  background-color: var(--disabled-dark);
  color: var(--disabled-light);
}

select {
  outline: none;
  border-radius: 3px;
  border: 1px solid var(--accent-light);
  background-color: inherit;
  color: var(--accent-light);
  width: 30ch;
}
