button {
  display: grid;
  color: inherit;
  place-items: center;
  padding: 5px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  margin: 0.5em auto;
  font-size: 1em;
  transition: all 150ms ease-in;
}

button:hover {
  transform: scale(1.1);
  color: var(--accent-dark);
  background-color: var(--accent-light);
  border: 1px solid var(--accent-light);
  box-shadow: 0 0 8px rgb( 0 0 0 / 0.8 );
  opacity: 1;
}

button:active {
  box-shadow: none;
  transform: scale(1);
  opacity: 0.8;
  transition: all 50ms linear;
}
