.form-container {
  display: grid;
  place-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 20px;
  place-items: center;
  grid-gap: 10px;
  position: relative;
  isolation: isolate;
}

.container {
  display: grid;
  grid-template-columns: 6ch 1fr;
  width: 100%;
  place-items: center;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.4em;
}

label {
  margin-right: 1em;
  justify-self: end;
}

.container:last-child label {
  margin-right: 0 !important;
  font-size: 0.9em;
}


button {
  border: none;
  border-radius: 5px;
  background: none;
  font-size: 1em;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 2px;
  width: 1.2em;
  height: 1.2em;
  transition: all 250ms ease;
}

button:hover {
  background-color: hsl( 0, 0%, 70%, 50% );
  box-shadow: 0 0 3px hsl( 0, 0%, 20%, 50% );
  transform: scale(1.2);
}

button:active {
  transform: scale(1);
  box-shadow: none;
  transition: all 100ms linear;
}

.container:last-child {
  grid-gap: 0;
}

.amount-container {
  justify-self: end;
  grid-column: 1 / 4;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

input:last-child {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
  width: 15ch;
}

/* Getting rid of spin buttons */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
